:root {
  --background: #222;
  --text: #f7f1ff;
  --accent1: #fc618d;
  --accent2: #fd9353;
  --accent3: #fce566;
  --accent4: #7bd88f;
  --accent5: #5ad4e6;
  --accent6: #948ae3;
  --dimmed1: #bab6c0;
  --dimmed2: #8b888f;
}

.card,
.card.night_mode {
  --text-fg: var(--text);
  --text-fg-faint: var(--text-fg);
  --text-bg-selected: var(--dimmed2);
  --card-bg: var(--background);
  --card-border: transparent;
  --card-box-shadow: transparent;
  --divider: var(--text-fg);
  --tag-fg: var(--text-fg);
  --tag-bg: var(--card-bg);
  --tag-fg-active: var(--text-fg);
  --tag-bg-active: var(--card-bg);
  --tag-border: var(--text-fg-faint);
  --tag-border-active: var(--text-fg);
  --cloze-fg: var(--accent4);
  --cloze-bg: transparent;
  --link-fg: var(--accent5);
  --link-bg: transparent;
  --link-fg-active: var(--accent3);
  --link-bg-active: transparent;
  --bold-fg: var(--accent2);
  --italic-fg: var(--accent6);
  --bold-italic-fg: var(--accent1);
  --underline-fg: var(--accent4);

  background-color: var(--card-bg);
}
