.card {
  --color-red: #f85552;
  --color-orange: #f57d26;
  --color-yellow: #dfa000;
  --color-green: #8da101;
  --color-cyan: #35a77c;
  --color-blue: #3795C5;
  --color-purple: #df69ba;
  --color-pink: #df69ba;
  --base-h: 44;
  --base-s: 87%;
  --base-l: 94%;
  --accent-h: 83;
  --accent-s: 36%;
  --accent-l: 53%;
  --bg1: #fdf6e3;
  --bg2: #efebd4;
  --bg3: rgb(226 222 198 / 50%);
  --ui1: #e0dcc7;
  --ui2: #bec5b2;
  --ui3: #bec5b2;
  --tx1: #5C6A72;
  --tx2: #829181;
  --tx3: #a6b0a0;

  background-color: var(--bg1);

  --text-fg: var(--tx1);
  --text-fg-faint: var(--ui3);
  --text-bg-selected: var(--ui2);
  --card-bg: var(--bg1);
  --card-border: var(--ui2);
  --card-box-shadow: transparent;
  --divider: var(--ui1);
  --tag-fg: var(--bg1);
  --tag-bg: transparent;
  --tag-fg-active: var(--color-blue);
  --tag-bg-active: var(--color-purple);
  --tag-border: var(--ui1);
  --tag-border-active: var(--tag-fg-active);
  --cloze-fg: var(--color-green);
  --cloze-bg: transparent;
  --link-fg: hsl(var(--accent-h) var(--accent-s) var(--accent-l));
  --link-bg: transparent;
  --link-fg-active: hsl(var(--accent-h)
      var(--accent-s)
      calc(var(--accent-l) + 8%));
  --link-bg-active: transparent;
  --bold-fg: var(--tx1);
  --italic-fg: var(--tx1);
  --bold-italic-fg: var(--tx1);
  --underline-fg: var(--tx1);
}

.card.night_mode {
  --color-red: #e67e80;
  --color-orange: #e69875;
  --color-yellow: #dbbc7f;
  --color-green: #a7c080;
  --color-cyan: #83c092;
  --color-blue: #7fbbb3;
  --color-purple: #d699b6;
  --color-pink: #d699b6;
  --base-h: 203;
  --base-s: 15%;
  --base-l: 23%;
  --accent-h: 81;
  --accent-s: 34%;
  --accent-l: 63%;
  --bg1: #2d353b;
  --bg2: #232a2e;
  --bg3: rgb(71 82 88 / 50%);
  --ui1: #475258;
  --ui2: #4f585e;
  --ui3: #525c62;
  --tx1: #d3c6aa;
  --tx2: #9da9a0;
  --tx3: #7a8478;

  background-color: var(--bg1);

  --text-fg: var(--tx1);
  --text-fg-faint: var(--ui3);
  --text-bg-selected: var(--ui2);
  --card-bg: var(--bg1);
  --card-border: var(--ui2);
  --card-box-shadow: transparent;
  --divider: var(--ui1);
  --tag-fg: var(--bg1);
  --tag-bg: transparent;
  --tag-fg-active: var(--color-blue);
  --tag-bg-active: var(--color-purple);
  --tag-border: var(--ui1);
  --tag-border-active: var(--tag-fg-active);
  --cloze-fg: var(--color-green);
  --cloze-bg: transparent;
  --link-fg: hsl(var(--accent-h) var(--accent-s) var(--accent-l));
  --link-bg: transparent;
  --link-fg-active: hsl(var(--accent-h)
      var(--accent-s)
      calc(var(--accent-l) + 8%));
  --link-bg-active: transparent;
  --bold-fg: var(--tx1);
  --italic-fg: var(--tx1);
  --bold-italic-fg: var(--tx1);
  --underline-fg: var(--tx1);
}