.card {
  --color-red: #b4637a;
  --color-orange: #d7827e;
  --color-yellow: #ea9d34;
  --color-green: #286983;
  --color-cyan: #56949f;
  --color-blue: #56949f;
  --color-purple: #907aa9;
  --color-pink: #907aa9;
  --base-h: 32;
  --base-s: 57%;
  --base-l: 95%;
  --accent-h: 3;
  --accent-s: 53%;
  --accent-l: 67%;
  --bg1: #fffaf3;
  --bg2: #faf4ed;
  --bg3: rgb(233 223 218 / 50%);
  --ui1: #EAE3E1;
  --ui2: #dfdad9;
  --ui3: #cecacd;
  --tx1: #575279;
  --tx2: #797593;
  --tx3: #9893a5;

  background-color: var(--bg1);

  --text-fg: var(--tx1);
  --text-fg-faint: var(--ui3);
  --text-bg-selected: var(--ui2);
  --card-bg: var(--bg1);
  --card-border: var(--ui2);
  --card-box-shadow: transparent;
  --divider: var(--ui1);
  --tag-fg: var(--bg1);
  --tag-bg: transparent;
  --tag-fg-active: var(--color-blue);
  --tag-bg-active: var(--color-purple);
  --tag-border: var(--ui1);
  --tag-border-active: var(--tag-fg-active);
  --cloze-fg: var(--color-green);
  --cloze-bg: transparent;
  --link-fg: hsl(var(--accent-h) var(--accent-s) var(--accent-l));
  --link-bg: transparent;
  --link-fg-active: hsl(var(--accent-h)
      var(--accent-s)
      calc(var(--accent-l) + 8%));
  --link-bg-active: transparent;
  --bold-fg: var(--tx1);
  --italic-fg: var(--tx1);
  --bold-italic-fg: var(--tx1);
  --underline-fg: var(--tx1);
}

.card.night_mode {
  --color-red: #eb6f92;
  --color-orange: #ea9a97;
  --color-yellow: #f6c177;
  --color-green: #31748f;
  --color-cyan: #9ccfd8;
  --color-blue: #9ccfd8;
  --color-purple: #c4a7e7;
  --color-pink: #c4a7e7;
  --base-h: 247;
  --base-s: 23%;
  --base-l: 15%;
  --accent-h: 2;
  --accent-s: 55%;
  --accent-l: 83%;
  --bg1: #1f1d2e;
  --bg2: #191724;
  --bg3: rgb(68 66 86 / 50%);
  --ui1: #312F41;
  --ui2: #403d52;
  --ui3: #524f67;
  --tx1: #e0def4;
  --tx2: #908caa;
  --tx3: #6e6a86;

  background-color: var(--bg1);

  --text-fg: var(--tx1);
  --text-fg-faint: var(--ui3);
  --text-bg-selected: var(--ui2);
  --card-bg: var(--bg1);
  --card-border: var(--ui2);
  --card-box-shadow: transparent;
  --divider: var(--ui1);
  --tag-fg: var(--bg1);
  --tag-bg: transparent;
  --tag-fg-active: var(--color-blue);
  --tag-bg-active: var(--color-purple);
  --tag-border: var(--ui1);
  --tag-border-active: var(--tag-fg-active);
  --cloze-fg: var(--color-green);
  --cloze-bg: transparent;
  --link-fg: hsl(var(--accent-h) var(--accent-s) var(--accent-l));
  --link-bg: transparent;
  --link-fg-active: hsl(var(--accent-h)
      var(--accent-s)
      calc(var(--accent-l) + 8%));
  --link-bg-active: transparent;
  --bold-fg: var(--tx1);
  --italic-fg: var(--tx1);
  --bold-italic-fg: var(--tx1);
  --underline-fg: var(--tx1);
}

