:root {
  --light-color-red: #af3029;
  --light-color-orange: #bc5215;
  --light-color-yellow: #ad8301;
  --light-color-green: #66800b;
  --light-color-cyan: #24837b;
  --light-color-blue: #205ea6;
  --light-color-purple: #5e409d;
  --light-color-pink: #a02f6f;
  --light-base-h: 48;
  --light-base-s: 100%;
  --light-base-l: 97%;
  --light-accent-h: 175;
  --light-accent-s: 57%;
  --light-accent-l: 33%;
  --light-bg1: #fffcf0;
  --light-bg2: #f2f0e5;
  --light-bg3: rgb(16 15 15 / 5%);
  --light-ui1: #e6e4d9;
  --light-ui2: #dad8ce;
  --light-ui3: #cecdc3;
  --light-tx1: #100f0f;
  --light-tx2: #6f6e69;
  --light-tx3: #b7b5ac;
  --dark-color-red: #d14d41;
  --dark-color-orange: #da702c;
  --dark-color-yellow: #d0a215;
  --dark-color-green: #879a39;
  --dark-color-cyan: #3aa99f;
  --dark-color-blue: #4385be;
  --dark-color-purple: #8b7ec8;
  --dark-color-pink: #ce5d97;
  --dark-base-h: 360;
  --dark-base-s: 3%;
  --dark-base-l: 6%;
  --dark-accent-h: 175;
  --dark-accent-s: 49%;
  --dark-accent-l: 45%;
  --dark-bg1: #100f0f;
  --dark-bg2: #1c1b1a;
  --dark-bg3: rgb(254 252 240 / 5%);
  --dark-ui1: #282726;
  --dark-ui2: #343331;
  --dark-ui3: #403e3c;
  --dark-tx1: #cecdc3;
  --dark-tx2: #878580;
  --dark-tx3: #575653;
}

.card {
  background-color: var(--light-bg1);

  --text-fg: var(--light-tx1);
  --text-fg-faint: var(--text-fg);
  --text-bg-selected: var(--light-ui2);
  --card-bg: var(--light-bg1);
  --card-border: transparent;
  --card-box-shadow: transparent;
  --divider: var(--light-tx3);
  --tag-fg: var(--light-tx1);
  --tag-bg: transparent;
  --tag-fg-active: var(--light-tx1);
  --tag-bg-active: var(--card-bg);
  --tag-border: var(--light-tx3);
  --tag-border-active: var(--tag-fg-active);
  --cloze-fg: var(--light-color-green);
  --cloze-bg: transparent;
  --link-fg: hsl(
    var(--light-accent-h) var(--light-accent-s) var(--light-accent-l)
  );
  --link-bg: transparent;
  --link-fg-active: hsl(
    var(--light-accent-h) var(--light-accent-s) calc(var(--light-accent-l) + 8%)
  );
  --link-bg-active: transparent;
  --bold-fg: var(--light-tx1);
  --italic-fg: var(--light-tx1);
  --bold-italic-fg: var(--light-tx1);
  --underline-fg: var(--light-tx1);
}

.card.night_mode {
  background-color: var(--dark-bg1);

  --text-fg: var(--dark-tx1);
  --text-fg-faint: var(--text-fg);
  --text-bg-selected: var(--dark-tx3);
  --card-bg: var(--dark-bg1);
  --card-border: transparent;
  --card-box-shadow: transparent;
  --divider: var(--dark-tx3);
  --tag-fg: var(--dark-tx1);
  --tag-bg: transparent;
  --tag-fg-active: var(--dark-tx1);
  --tag-bg-active: var(--card-bg);
  --tag-border: var(--dark-tx3);
  --tag-border-active: var(--tag-fg-active);
  --cloze-fg: var(--dark-color-green);
  --cloze-bg: transparent;
  --link-fg: hsl(
    var(--dark-accent-h) var(--dark-accent-s) var(--dark-accent-l)
  );
  --link-bg: transparent;
  --link-fg-active: hsl(
    var(--dark-accent-h) var(--dark-accent-s) calc(var(--dark-accent-l) + 8%)
  );
  --link-bg-active: transparent;
  --bold-fg: var(--dark-tx1);
  --italic-fg: var(--dark-tx1);
  --bold-italic-fg: var(--dark-tx1);
  --underline-fg: var(--dark-tx1);
}
