.card {
  --color-red: #BF616A;
  --color-orange: #D08770;
  --color-yellow: #EBCB8B;
  --color-green: #A3BE8C;
  --color-cyan: #88C0D0;
  --color-blue: #81A1C1;
  --color-purple: #B48EAD;
  --color-pink: #B48EAD;
  --base-h: 221;
  --base-s: 27%;
  --base-l: 94%;
  --accent-h: 213;
  --accent-s: 32%;
  --accent-l: 52%;
  --bg1: #fff;
  --bg2: #eceff4;
  --bg3: rgb(157 174 206 / 25%);
  --ui1: #d8dee9;
  --ui2: #BBCADC;
  --ui3: #81a1c1;
  --tx1: #2e3440;
  --tx2: #7D8697;
  --tx3: #ADB1B8;

  background-color: var(--bg1);

  --text-fg: var(--tx1);
  --text-fg-faint: var(--ui3);
  --text-bg-selected: var(--ui2);
  --card-bg: var(--bg1);
  --card-border: var(--ui2);
  --card-box-shadow: transparent;
  --divider: var(--ui1);
  --tag-fg: var(--bg1);
  --tag-bg: transparent;
  --tag-fg-active: var(--color-blue);
  --tag-bg-active: var(--color-purple);
  --tag-border: var(--ui1);
  --tag-border-active: var(--tag-fg-active);
  --cloze-fg: var(--color-green);
  --cloze-bg: transparent;
  --link-fg: hsl(var(--accent-h) var(--accent-s) var(--accent-l));
  --link-bg: transparent;
  --link-fg-active: hsl(var(--accent-h)
      var(--accent-s)
      calc(var(--accent-l) + 8%));
  --link-bg-active: transparent;
  --bold-fg: var(--tx1);
  --italic-fg: var(--tx1);
  --bold-italic-fg: var(--tx1);
  --underline-fg: var(--tx1);
}

.card.night_mode {
  --color-red: #BF616A;
  --color-orange: #D08770;
  --color-yellow: #EBCB8B;
  --color-green: #A3BE8C;
  --color-cyan: #88C0D0;
  --color-blue: #81A1C1;
  --color-purple: #B48EAD;
  --color-pink: #B48EAD;
  --base-h: 220;
  --base-s: 16%;
  --base-l: 22%;
  --accent-h: 213;
  --accent-s: 32%;
  --accent-l: 52%;
  --bg1: #2e3440;
  --bg2: #3b4252;
  --bg3: rgb(135 152 190 / 15%);
  --ui1: #434c5e;
  --ui2: #58647b;
  --ui3: #58647b;
  --tx1: #d8dee9;
  --tx2: #9eafcc;
  --tx3: #4c566a;

  background-color: var(--bg1);

  --text-fg: var(--tx1);
  --text-fg-faint: var(--ui3);
  --text-bg-selected: var(--ui2);
  --card-bg: var(--bg1);
  --card-border: var(--ui2);
  --card-box-shadow: transparent;
  --divider: var(--ui1);
  --tag-fg: var(--bg1);
  --tag-bg: transparent;
  --tag-fg-active: var(--color-blue);
  --tag-bg-active: var(--color-purple);
  --tag-border: var(--ui1);
  --tag-border-active: var(--tag-fg-active);
  --cloze-fg: var(--color-green);
  --cloze-bg: transparent;
  --link-fg: hsl(var(--accent-h) var(--accent-s) var(--accent-l));
  --link-bg: transparent;
  --link-fg-active: hsl(var(--accent-h)
      var(--accent-s)
      calc(var(--accent-l) + 8%));
  --link-bg-active: transparent;
  --bold-fg: var(--tx1);
  --italic-fg: var(--tx1);
  --bold-italic-fg: var(--tx1);
  --underline-fg: var(--tx1);
}

