:root {
  --light-color-red: #f85552;
  --light-color-orange: #f57d26;
  --light-color-yellow: #dfa000;
  --light-color-green: #8da101;
  --light-color-cyan: #35a77c;
  --light-color-blue: #3795c5;
  --light-color-purple: #df69ba;
  --light-color-pink: #df69ba;
  --light-base-h: 44;
  --light-base-s: 87%;
  --light-base-l: 94%;
  --light-accent-h: 83;
  --light-accent-s: 36%;
  --light-accent-l: 53%;
  --light-bg1: #fdf6e3;
  --light-bg2: #efebd4;
  --light-bg3: rgb(226 222 198 / 50%);
  --light-ui1: #e0dcc7;
  --light-ui2: #bec5b2;
  --light-ui3: #bec5b2;
  --light-tx1: #5c6a72;
  --light-tx2: #829181;
  --light-tx3: #a6b0a0;
  --dark-color-red: #e67e80;
  --dark-color-orange: #e69875;
  --dark-color-yellow: #dbbc7f;
  --dark-color-green: #a7c080;
  --dark-color-cyan: #83c092;
  --dark-color-blue: #7fbbb3;
  --dark-color-purple: #d699b6;
  --dark-color-pink: #d699b6;
  --dark-base-h: 203;
  --dark-base-s: 15%;
  --dark-base-l: 23%;
  --dark-accent-h: 81;
  --dark-accent-s: 34%;
  --dark-accent-l: 63%;
  --dark-bg1: #2d353b;
  --dark-bg2: #232a2e;
  --dark-bg3: rgb(71 82 88 / 50%);
  --dark-ui1: #475258;
  --dark-ui2: #4f585e;
  --dark-ui3: #525c62;
  --dark-tx1: #d3c6aa;
  --dark-tx2: #9da9a0;
  --dark-tx3: #7a8478;
}

.card {
  background-color: var(--light-bg1);

  --text-fg: var(--light-tx1);
  --text-fg-faint: var(--text-fg);
  --text-bg-selected: var(--light-ui2);
  --card-bg: var(--light-bg1);
  --card-border: transparent;
  --card-box-shadow: transparent;
  --divider: var(--light-tx3);
  --tag-fg: var(--light-tx1);
  --tag-bg: transparent;
  --tag-fg-active: var(--light-tx1);
  --tag-bg-active: var(--card-bg);
  --tag-border: var(--light-tx3);
  --tag-border-active: var(--tag-fg-active);
  --cloze-fg: var(--light-color-green);
  --cloze-bg: transparent;
  --link-fg: hsl(
    var(--light-accent-h) var(--light-accent-s) var(--light-accent-l)
  );
  --link-bg: transparent;
  --link-fg-active: hsl(
    var(--light-accent-h) var(--light-accent-s) calc(var(--light-accent-l) + 8%)
  );
  --link-bg-active: transparent;
  --bold-fg: var(--light-tx1);
  --italic-fg: var(--light-tx1);
  --bold-italic-fg: var(--light-tx1);
  --underline-fg: var(--light-tx1);
}

.card.night_mode {
  background-color: var(--dark-bg1);

  --text-fg: var(--dark-tx1);
  --text-fg-faint: var(--text-fg);
  --text-bg-selected: var(--dark-tx3);
  --card-bg: var(--dark-bg1);
  --card-border: transparent;
  --card-box-shadow: transparent;
  --divider: var(--dark-tx3);
  --tag-fg: var(--dark-tx1);
  --tag-bg: transparent;
  --tag-fg-active: var(--dark-tx1);
  --tag-bg-active: var(--card-bg);
  --tag-border: var(--dark-tx3);
  --tag-border-active: var(--tag-fg-active);
  --cloze-fg: var(--dark-color-green);
  --cloze-bg: transparent;
  --link-fg: hsl(
    var(--dark-accent-h) var(--dark-accent-s) var(--dark-accent-l)
  );
  --link-bg: transparent;
  --link-fg-active: hsl(
    var(--dark-accent-h) var(--dark-accent-s) calc(var(--dark-accent-l) + 8%)
  );
  --link-bg-active: transparent;
  --bold-fg: var(--dark-tx1);
  --italic-fg: var(--dark-tx1);
  --bold-italic-fg: var(--dark-tx1);
  --underline-fg: var(--dark-tx1);
}
