:root {
  --color-red: #cc241d;
  --color-orange: #d65d0e;
  --color-yellow: #d79921;
  --color-green: #98971a;
  --color-cyan: #689d6a;
  --color-blue: #458588;
  --color-purple: #b16286;
  --color-pink: #b16286;
}

.card {
  --base-h: 49;
  --base-s: 92%;
  --base-l: 89%;
  --accent-h: 24;
  --accent-s: 88%;
  --accent-l: 45%;
  --bg1: #fcf2c7;
  --bg2: #f2e6bd;
  --bg3: #ebd9b3;
  --ui1: #ebdbb2;
  --ui2: #d5c4a1;
  --ui3: #bdae93;
  --tx1: #282828;
  --tx2: #7c7065;
  --tx3: #a89a85;
  --hl1: rgb(192 165 125 / 30%);
  --hl2: rgb(215 153 33 / 40%);
  --ax1:
    hsl(var(--accent-h)
      var(--accent-s)
      var(--accent-l));
  --ax2:
    hsl(var(--accent-h)
      var(--accent-s)
      calc(var(--accent-l) - 8%));
}

.card.night_mode {
  --accent-h: 24;
  --accent-s: 88%;
  --accent-l: 45%;
  --bg1: #282828;
  --bg2: #1e2021;
  --bg3: #3d3836;
  --bg3: rgb(62 57 55 / 50%);
  --ui1: #3c3836;
  --ui2: #504945;
  --ui3: #665c54;
  --tx1: #fbf1c7;
  --tx2: #bdae93;
  --tx3: #7c6f64;
  --hl1: rgb(173 149 139 / 30%);
  --hl2: rgb(215 153 33 / 40%);
}

.card {
  background-color: var(--card-bg);

  --text-fg: var(--tx1);
  --text-fg-faint: var(--tx1);
  --text-bg-selected: var(--hl1);
  --card-bg: var(--bg1);
  --card-border: transparent;
  --card-box-shadow: transparent;
  --divider: var(--ui1);
  --tag-fg: var(--tx2);
  --tag-bg: transparent;
  --tag-fg-active: var(--color-blue);
  --tag-bg-active: transparent;
  --tag-border: var(--tx3);
  --tag-border-active: var(--tag-fg-active);
  --cloze-fg: var(--color-pink);
  --cloze-bg: transparent;
  --link-fg: var(--ax1);
  --link-bg: transparent;
  --link-fg-active: var(--ax2);
  --link-bg-active: transparent;
  --bold-fg: var(--color-red);
  --italic-fg: var(--color-cyan);
  --bold-italic-fg: var(--color-orange);
  --underline-fg: var(--text-fg);
}