:root {
  --light-color-red: #ff306c;
  --light-color-orange: #ff9502;
  --light-color-yellow: #ffd500;
  --light-color-green: #4bbf5e;
  --light-color-cyan: #49aea4;
  --light-color-purple: #b051de;
  --light-color-pink: #ff2e55;
  --light-accent-h: 215;
  --light-accent-s: 76%;
  --light-accent-l: 43%;
  --light-bg1: white;
  --light-bg2: #f5f6f8;
  --light-bg3: rgb(162 177 187 / 25%);
  --light-ui1: #eef0f4;
  --light-ui2: #d8dadd;
  --light-ui3: #c1c3c6;
  --light-tx1: #26272b;
  --light-tx2: #7d7f84;
  --light-tx3: #a9abb0;
  --dark-base-h: 218;
  --dark-base-s: 9%;
  --dark-base-l: 15%;
  --dark-accent-h: 215;
  --dark-accent-s: 91%;
  --dark-accent-l: 64%;
  --dark-bg1: #24262a;
  --dark-bg2: #202225;
  --dark-bg3: #3d3f41;
  --dark-divider-color: #17191c;
  --dark-tab-outline-color: #17191c;
  --dark-ui1: #3a3b3f;
  --dark-ui2: #45464a;
  --dark-ui3: #6c6e70;
  --dark-tx1: #fbfbfb;
  --dark-tx2: #cbcccd;
  --dark-tx3: #6c6e70;
}

.card {
  background-color: var(--light-bg1);

  --text-fg: var(--light-tx1);
  --text-fg-faint: var(--text-fg);
  --text-bg-selected: var(--light-ui2);
  --card-bg: var(--light-bg1);
  --card-border: transparent;
  --card-box-shadow: transparent;
  --divider: var(--light-tx3);
  --tag-fg: var(--light-tx1);
  --tag-bg: transparent;
  --tag-fg-active: var(--light-tx1);
  --tag-bg-active: var(--card-bg);
  --tag-border: var(--light-tx3);
  --tag-border-active: var(--tag-fg-active);
  --cloze-fg: var(--light-color-green);
  --cloze-bg: transparent;
  --link-fg: hsl(
    var(--light-accent-h) var(--light-accent-s) var(--light-accent-l)
  );
  --link-bg: transparent;
  --link-fg-active: hsl(
    var(--light-accent-h) var(--light-accent-s) calc(var(--light-accent-l) + 8%)
  );
  --link-bg-active: transparent;
  --bold-fg: var(--light-tx1);
  --italic-fg: var(--light-tx1);
  --bold-italic-fg: var(--light-tx1);
  --underline-fg: var(--light-tx1);
}

.card.night_mode {
  background-color: var(--dark-bg1);

  --text-fg: var(--dark-tx1);
  --text-fg-faint: var(--text-fg);
  --text-bg-selected: var(--dark-tx3);
  --card-bg: var(--dark-bg1);
  --card-border: transparent;
  --card-box-shadow: transparent;
  --divider: var(--dark-tx3);
  --tag-fg: var(--dark-tx1);
  --tag-bg: transparent;
  --tag-fg-active: var(--dark-tx1);
  --tag-bg-active: var(--card-bg);
  --tag-border: var(--dark-tx3);
  --tag-border-active: var(--tag-fg-active);
  --cloze-fg: var(--dark-color-green);
  --cloze-bg: transparent;
  --link-fg: hsl(
    var(--dark-accent-h) var(--dark-accent-s) var(--dark-accent-l)
  );
  --link-bg: transparent;
  --link-fg-active: hsl(
    var(--dark-accent-h) var(--dark-accent-s) calc(var(--dark-accent-l) + 8%)
  );
  --link-bg-active: transparent;
  --bold-fg: var(--dark-tx1);
  --italic-fg: var(--dark-tx1);
  --bold-italic-fg: var(--dark-tx1);
  --underline-fg: var(--dark-tx1);
}
