:root {
  --light-color-red: #dc322f;
  --light-color-orange: #cb4b16;
  --light-color-yellow: #b58900;
  --light-color-green: #859900;
  --light-color-cyan: #2aa198;
  --light-color-blue: #268bd2;
  --light-color-purple: #6c71c4;
  --light-color-pink: #d33682;
  --light-base-h: 44;
  --light-base-s: 87%;
  --light-base-l: 94%;
  --light-accent-h: 205;
  --light-accent-s: 70%;
  --light-accent-l: 48%;
  --light-bg1: #fdf6e3;
  --light-bg2: #eee8d5;
  --light-bg3: rgb(0 0 0 / 6.2%);
  --light-ui1: #e9e1c8;
  --light-ui2: #d0cab8;
  --light-ui3: #d0cab8;
  --light-tx1: #073642;
  --light-tx2: #586e75;
  --light-tx3: #abb2ac;
  --dark-color-red: var(--light-color-red);
  --dark-color-orange: var(--light-color-orange);
  --dark-color-yellow: var(--light-color-yellow);
  --dark-color-green: var(--light-color-green);
  --dark-color-cyan: var(--light-color-cyan);
  --dark-color-blue: var(--light-color-blue);
  --dark-color-purple: var(--light-color-purple);
  --dark-color-pink: var(--light-color-pink);
  --dark-accent-h: 205;
  --dark-accent-s: 70%;
  --dark-accent-l: 48%;
  --dark-base-h: 193;
  --dark-base-s: 98%;
  --dark-base-l: 11%;
  --dark-bg1: #002b36;
  --dark-bg2: #073642;
  --dark-bg3: rgb(255 255 255 / 6.2%);
  --dark-ui1: #19414b;
  --dark-ui2: #274850;
  --dark-ui3: #31535b;
  --dark-tx1: #93a1a1;
  --dark-tx2: #657b83;
  --dark-tx3: #31535b;
}

.card {
  background-color: var(--light-bg1);

  --text-fg: var(--light-tx1);
  --text-fg-faint: var(--text-fg);
  --text-bg-selected: var(--light-ui2);
  --card-bg: var(--light-bg1);
  --card-border: transparent;
  --card-box-shadow: transparent;
  --divider: var(--light-tx3);
  --tag-fg: var(--light-tx1);
  --tag-bg: transparent;
  --tag-fg-active: var(--light-tx1);
  --tag-bg-active: var(--card-bg);
  --tag-border: var(--light-tx3);
  --tag-border-active: var(--tag-fg-active);
  --cloze-fg: var(--light-color-green);
  --cloze-bg: transparent;
  --link-fg: hsl(
    var(--light-accent-h) var(--light-accent-s) var(--light-accent-l)
  );
  --link-bg: transparent;
  --link-fg-active: hsl(
    var(--light-accent-h) var(--light-accent-s) calc(var(--light-accent-l) + 8%)
  );
  --link-bg-active: transparent;
  --bold-fg: var(--light-tx1);
  --italic-fg: var(--light-tx1);
  --bold-italic-fg: var(--light-tx1);
  --underline-fg: var(--light-tx1);
}

.card.night_mode {
  background-color: var(--dark-bg1);

  --text-fg: var(--dark-tx1);
  --text-fg-faint: var(--text-fg);
  --text-bg-selected: var(--dark-tx3);
  --card-bg: var(--dark-bg1);
  --card-border: transparent;
  --card-box-shadow: transparent;
  --divider: var(--dark-tx3);
  --tag-fg: var(--dark-tx1);
  --tag-bg: transparent;
  --tag-fg-active: var(--dark-tx1);
  --tag-bg-active: var(--card-bg);
  --tag-border: var(--dark-tx3);
  --tag-border-active: var(--tag-fg-active);
  --cloze-fg: var(--dark-color-green);
  --cloze-bg: transparent;
  --link-fg: hsl(
    var(--dark-accent-h) var(--dark-accent-s) var(--dark-accent-l)
  );
  --link-bg: transparent;
  --link-fg-active: hsl(
    var(--dark-accent-h) var(--dark-accent-s) calc(var(--dark-accent-l) + 8%)
  );
  --link-bg-active: transparent;
  --bold-fg: var(--dark-tx1);
  --italic-fg: var(--dark-tx1);
  --bold-italic-fg: var(--dark-tx1);
  --underline-fg: var(--dark-tx1);
}
