:root {
  --light-color-red: #cc241d;
  --light-color-orange: #d65d0e;
  --light-color-yellow: #d79921;
  --light-color-green: #98971a;
  --light-color-cyan: #689d6a;
  --light-color-blue: #458588;
  --light-color-purple: #b16286;
  --light-color-pink: #b16286;
  --light-base-h: 49;
  --light-base-s: 92%;
  --light-base-l: 89%;
  --light-accent-h: 24;
  --light-accent-s: 88%;
  --light-accent-l: 45%;
  --light-bg1: #fcf2c7;
  --light-bg2: #f2e6bd;
  --light-bg3: #ebd9b3;
  --light-ui1: #ebdbb2;
  --light-ui2: #d5c4a1;
  --light-ui3: #bdae93;
  --light-tx1: #282828;
  --light-tx2: #7c7065;
  --light-tx3: #a89a85;
  --light-hl1: rgb(192 165 125 / 30%);
  --light-hl2: rgb(215 153 33 / 40%);
  --light-ax1: hsl(
    var(--light-accent-h) var(--light-accent-s) var(--light-accent-l)
  );
  --light-ax2: hsl(
    var(--light-accent-h) var(--light-accent-s) calc(var(--light-accent-l) - 8%)
  );
  --dark-color-red: var(--light-color-red);
  --dark-color-orange: var(--light-color-orange);
  --dark-color-yellow: var(--light-color-yellow);
  --dark-color-green: var(--light-color-green);
  --dark-color-cyan: var(--light-color-cyan);
  --dark-color-blue: var(--light-color-blue);
  --dark-color-purple: var(--light-color-purple);
  --dark-color-pink: var(--light-color-pink);
  --dark-accent-h: 24;
  --dark-accent-s: 88%;
  --dark-accent-l: 45%;
  --dark-bg1: #282828;
  --dark-bg2: #1e2021;
  --dark-bg3: #3d3836;
  --dark-bg3: rgb(62 57 55 / 50%);
  --dark-ui1: #3c3836;
  --dark-ui2: #504945;
  --dark-ui3: #665c54;
  --dark-tx1: #fbf1c7;
  --dark-tx2: #bdae93;
  --dark-tx3: #7c6f64;
  --dark-hl1: rgb(173 149 139 / 30%);
  --dark-hl2: rgb(215 153 33 / 40%);
}

.card {
  background-color: var(--light-bg1);

  --text-fg: var(--light-tx1);
  --text-fg-faint: var(--text-fg);
  --text-bg-selected: var(--light-ui2);
  --card-bg: var(--light-bg1);
  --card-border: transparent;
  --card-box-shadow: transparent;
  --divider: var(--light-tx3);
  --tag-fg: var(--light-tx1);
  --tag-bg: transparent;
  --tag-fg-active: var(--light-tx1);
  --tag-bg-active: var(--card-bg);
  --tag-border: var(--light-tx3);
  --tag-border-active: var(--tag-fg-active);
  --cloze-fg: var(--light-color-green);
  --cloze-bg: transparent;
  --link-fg: hsl(
    var(--light-accent-h) var(--light-accent-s) var(--light-accent-l)
  );
  --link-bg: transparent;
  --link-fg-active: hsl(
    var(--light-accent-h) var(--light-accent-s) calc(var(--light-accent-l) + 8%)
  );
  --link-bg-active: transparent;
  --bold-fg: var(--light-tx1);
  --italic-fg: var(--light-tx1);
  --bold-italic-fg: var(--light-tx1);
  --underline-fg: var(--light-tx1);
}

.card.night_mode {
  background-color: var(--dark-bg1);

  --text-fg: var(--dark-tx1);
  --text-fg-faint: var(--text-fg);
  --text-bg-selected: var(--dark-tx3);
  --card-bg: var(--dark-bg1);
  --card-border: transparent;
  --card-box-shadow: transparent;
  --divider: var(--dark-tx3);
  --tag-fg: var(--dark-tx1);
  --tag-bg: transparent;
  --tag-fg-active: var(--dark-tx1);
  --tag-bg-active: var(--card-bg);
  --tag-border: var(--dark-tx3);
  --tag-border-active: var(--tag-fg-active);
  --cloze-fg: var(--dark-color-green);
  --cloze-bg: transparent;
  --link-fg: hsl(
    var(--dark-accent-h) var(--dark-accent-s) var(--dark-accent-l)
  );
  --link-bg: transparent;
  --link-fg-active: hsl(
    var(--dark-accent-h) var(--dark-accent-s) calc(var(--dark-accent-l) + 8%)
  );
  --link-bg-active: transparent;
  --bold-fg: var(--dark-tx1);
  --italic-fg: var(--dark-tx1);
  --bold-italic-fg: var(--dark-tx1);
  --underline-fg: var(--dark-tx1);
}
