/* https://binaryify.github.io/OneDark-Pro/#/?id=highlight-color-custom */

:root {
  --base: #282c34;
  --mono-1: #abb2bf;
  --mono-2: #818896;
  --mono-3: #5c6370;
  --hue-1: #2bbac5;
  --hue-2: #61afef;
  --hue-3: #d55fde;
  --hue-4: #89ca78;
  --hue-5: #ef596f;
  --hue-5-2: #be5046;
  --hue-6: #d19a66;
  --hue-6-2: #e5c07b;
}

.card,.card.night_mode {
  background-color: var(--base);

  --text-fg: var(--mono-1);
  --text-fg-faint: var(--mono-1);
  --text-bg-selected: var(--mono-3);
  --card-bg: var(--base);
  --card-border: transparent;
  --card-box-shadow: transparent;
  --divider: var(--mono-1);
  --tag-fg: var(--mono-1);
  --tag-bg: transparent;
  --tag-fg-active: var(--mono-1);
  --tag-bg-active: transparent;
  --tag-border: var(--mono-3);
  --tag-border-active:var(--mono-1);
  --cloze-fg: var(--hue-4);
  --cloze-bg: transparent;
  --link-fg: var(--hue-2);
  --link-bg: transparent;
  --link-fg-active: var(--hue-3);
  --link-bg-active: transparent;
  --bold-fg: var(--hue-5-2);
  --italic-fg: var(--hue-1);
  --bold-italic-fg: var(--hue-6);
  --underline-fg: var(--hue-4);
}

.card.night_mode {
  background-color: #23272e;
  
  --card-bg: #23272e;
}