.card {
  /* Light = One Dark Pro vivid */
  --text-fg: #abb2bf;

  /* from vscode */
  --text-fg-faint: #818896;

  /* from vscode */
  --text-bg-selected: #5c6370;

  /* dark */
  --card-bg: #282c34;

  /* from vscode */
  --card-border: #818896;

  /* from vscode */
  --divider: var(--text-fg);
  --tag-fg: var(--text-fg);
  --tag-bg: var(--card-bg);
  --tag-fg-active: var(--text-fg);
  --tag-bg-active: var(--card-bg);
  --tag-border: var(--text-fg-faint);
  --tag-border-active: var(--text-fg);
  --cloze-fg: #2bbac5;

  /* fountainBlue */
  --cloze-bg: transparent;
  --link-fg: #61afef;

  /* malibu */
  --link-bg: transparent;
  --link-fg-active: var(--link-fg);
  --link-bg-active: transparent;
  --bold-fg: #d19a66;

  /* whiskey */
  --italic-fg: #d55fde;

  /* purple */
  --bold-italic-fg: #ef596f;

  /* coral */
  --underline-fg: #89ca78;

  /* green */
  background-color: var(--card-bg);
}

.card.night_mode {
  /* Night = One Dark Pro Darker */
  --card-bg: #23272e;
  --tag-bg: var(--card-bg);
  --tag-bg-active: var(--card-bg);

  background-color: var(--card-bg);
}

