:root {
  /* Rose Pine Moon */
  --rpm-base: #232136;
  --rpm-surface: #2a273f;
  --rpm-overlay: #393552;
  --rpm-muted: #6e6a86;
  --rpm-subtle: #908caa;
  --rpm-text: #e0def4;
  --rpm-love: #eb6f92;
  --rpm-gold: #f6c177;
  --rpm-rose: #ea9a97;
  --rpm-pine: #3e8fb0;
  --rpm-foam: #9ccfd8;
  --rpm-iris: #c4a7e7;
  --rpm-highlight-low: #2a283e;
  --rpm-highlight-med: #44415a;
  --rpm-highlight-high: #56526e;

  /* Rose Pine Dawn */
  --rpd-base: #faf4ed;
  --rpd-surface: #fffaf3;
  --rpd-overlay: #f2e9e1;
  --rpd-muted: #9893a5;
  --rpd-subtle: #797593;
  --rpd-text: #575279;
  --rpd-love: #b4637a;
  --rpd-gold: #ea9d34;
  --rpd-rose: #d7827e;
  --rpd-pine: #286983;
  --rpd-foam: #56949f;
  --rpd-iris: #907aa9;
  --rpd-highlight-low: #f4ede8;
  --rpd-highlight-med: #dfdad9;
  --rpd-highlight-high: #cecacd;
}

.card {
  background-color: var(--rpd-base);

  --text-fg: var(--rpd-text);
  --text-fg-faint: var(--text-fg);
  --text-bg-selected: var(--rpd-highlight-med);
  --card-bg: var(--rpd-base);
  --card-border: transparent;
  --card-box-shadow: transparent;
  --divider: var(--rpd-highlight-high);
  --tag-fg: var(--rpd-foam);
  --tag-bg: var(--rpd-surface);
  --tag-fg-active: var(--rpd-foam);
  --tag-bg-active: var(--rpd-overlay);
  --tag-border: var(--rpd-highlight-high);
  --tag-border-active: var(--tag-bg-active);
  --cloze-fg: var(--rpd-pine);
  --cloze-bg: transparent;
  --link-fg: var(--rpd-iris);
  --link-bg: transparent;
  --link-fg-active: var(--rpd-iris);
  --link-bg-active: var(--rpd-surface);
  --bold-fg: var(--rpd-love);
  --italic-fg: var(--rpd-gold);
  --bold-italic-fg: var(--rpd-rose);
  --underline-fg: var(--text-fg);
}

.card.night_mode {
  background-color: var(--rpm-base);

  --text-fg: var(--rpm-text);
  --text-fg-faint: var(--text-fg);
  --text-bg-selected: var(--rpm-highlight-med);
  --card-bg: var(--rpm-base);
  --card-border: transparent;
  --card-box-shadow: transparent;
  --divider: var(--rpm-highlight-high);
  --tag-fg: var(--rpm-foam);
  --tag-bg: var(--rpm-surface);
  --tag-fg-active: var(--rpm-foam);
  --tag-bg-active: var(--rpm-overlay);
  --tag-border: var(--rpm-highlight-high);
  --tag-border-active: var(--tag-bg-active);
  --cloze-fg: var(--rpm-pine);
  --cloze-bg: transparent;
  --link-fg: var(--rpm-iris);
  --link-bg: transparent;
  --link-fg-active: var(--rpm-iris);
  --link-bg-active: var(--rpm-surface);
  --bold-fg: var(--rpm-love);
  --italic-fg: var(--rpm-gold);
  --bold-italic-fg: var(--rpm-rose);
  --underline-fg: var(--text-fg);
}
