/* -------------------------------------------------- PREFERENCES */
:root {
  --card-max-width: 40em;
  --card-text-align: left;
  --font-size-regular: 16px;
  --font-size-small: 14px;
  --font-family: -apple-system, sytem-ui, BlinkMacSystemFont, Segoe UI,
    Roboto, Helvetica, Arial, sans-serif;
  --img-width: 50%;
  --img-brightness: 0.75;
  --img-filter: none;
}

/* -------------------------------------------------- COLORS */
:root {
  --latte-pink: #ea76cb;
  --latte-mauve: #8839ef;
  --latte-maroon: #e64553;
  --latte-peach: #fe640b;
  --latte-green: #40a02b;
  --latte-blue: #1e66f5;
  --latte-lavender: #7287fd;
  --latte-subtext1: #5c5f77;
  --latte-surface2-50: #acb0be50;
  --latte-text: #4c4f69;
  --latte-base: #eff1f5;
  --latte-crust: #dce0e8;
}

:root {
  --frappe-pink: #f4b8e4;
  --frappe-mauve: #ca9ee6;
  --frappe-maroon: #ea999c;
  --frappe-peach: #ef9f76;
  --frappe-green: #a6d189;
  --frappe-blue: #8caaee;
  --frappe-lavender: #babbf1;
  --frappe-text: #c6d0f5;
  --frappe-subtext1: #b5bfe2;
  --frappe-surface2-50: #62688050;
  --frappe-base: #303446;
  --frappe-crust: #232634;
}

.card {
  --text-fg: var(--latte-text);
  --text-fg-faint: var(--latte-subtext1);
  --text-bg-selected: var(--latte-surface2-50);
  --card-bg: var(--latte-base);
  --card-border: var(--text-fg-faint);
  --divider: var(--text-fg);
  --tag-fg: var(--latte-blue);
  --tag-bg: var(--card-bg);
  --tag-fg-active: var(--text-fg);
  --tag-bg-active: var(--card-bg);
  --tag-border: var(--text-fg-faint);
  --tag-border-active: var(--text-fg);
  --cloze-fg: var(--latte-mauve);
  --cloze-bg: transparent;
  --link-fg: var(--latte-blue);
  --link-bg: transparent;
  --link-fg-active: var(--latte-lavender);
  --link-bg-active: transparent;
  --bold-fg: var(--latte-peach);
  --italic-fg: var(--latte-pink);
  --bold-italic-fg: var(--latte-maroon);
  --underline-fg: var(--latte-green);
  background-color: var(--card-bg);
}

.card.night_mode {
  --text-fg: var(--frappe-text);
  --text-fg-faint: var(--frappe-subtext1);
  --text-bg-selected: var(--frappe-surface2-50);
  --card-bg: var(--frappe-text);
  --card-border: var(--text-fg-faint);
  --divider: var(--text-fg);
  --tag-fg: var(--frappe-blue);
  --tag-bg: var(--card-bg);
  --tag-fg-active: var(--text-fg);
  --tag-bg-active: var(--card-bg);
  --tag-border: var(--text-fg-faint);
  --tag-border-active: var(--text-fg);
  --cloze-fg: var(--frappe-mauve);
  --cloze-bg: transparent;
  --link-fg: var(--frappe-blue);
  --link-bg: transparent;
  --link-fg-active: var(--frappe-lavender);
  --link-bg-active: transparent;
  --bold-fg: var(--frappe-peach);
  --italic-fg: var(--frappe-pink);
  --bold-italic-fg: var(--frappe-maroon);
  --underline-fg: var(--frappe-green);
  background-color: var(--card-bg);
}

/* -------------------------------------------------- BACKGROUND */
.card {
  cursor: default;
  padding: 0.5em 0;
}

html:not(.mobile) .card {
  padding: 0.5em;
}

.card::-webkit-scrollbar {
  display: none;
}

/* -------------------------------------------------- FLASHCARD */
.prettify-flashcard {
  background-color: var(--card-bg);
  border-radius: 0.25em;
  border: 1px solid var(--card-border);
  color: var(--text-fg);
  font-family: var(--font-family);
  font-size: var(--font-size-regular);
  line-height: 1.5;
  margin: 0 auto;
  max-width: var(--card-max-width);
  text-align: var(--card-text-align);
  word-wrap: break-word;
}

.prettify-flashcard ::selection {
  background-color: var(--text-bg-selected);
}

/* -------------------------------------------------- FIELDS */
.prettify-field {
  margin: 2em;
}

.mobile .prettify-field {
  margin: 1em;
}

.prettify-field--back {
  color: var(--text-fg-faint);
  font-size: var(--font-size-small);
}

/* -------------------------------------------------- CLOZE */
.cloze {
  background-color: var(--cloze-bg);
  color: var(--cloze-fg);
}

/* -------------------------------------------------- DECK */
.prettify-deck {
  margin: 2em;
  display: flex;
  color: var(--text-fg-faint);
  font-size: var(--font-size-small);
  white-space: nowrap;
}

.mobile .prettify-deck {
  margin: 1em;
}

.prettify-subdeck {
  text-decoration: underline;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* -------------------------------------------------- TAGS */
.prettify-tags {
  margin: 2em;
  display: flex;
  flex-flow: row wrap;
  font-size: var(--font-size-small);
}

.mobile .prettify-tags {
  margin: 1em;
}

.prettify-tag {
  all: initial;
  background-color: var(--tag-bg);
  border-radius: 0.2em;
  color: var(--tag-fg);
  display: inline;
  font-size: var(--font-size-small);
  font-family: var(--font-family);
  margin: 0 0.5em 0.5em 0;
  padding: 0.25em;
  transition: all 0.25s;
  word-break: break-word;
}

.prettify-tag:hover {
  background-color: var(--tag-bg-active);
  color: var(--tag-fg-active);
  cursor: pointer;
}

/* -------------------------------------------------- DIVIDER */
.prettify-divider {
  background-color: transparent;
  border: none;
  border-bottom: 1px dashed var(--divider);
  margin: 1em;
  padding: 0;
}

.prettify-divider--answer {
  margin: 0 0 1em;
}

/* -------------------------------------------------- IMAGES */
img {
  border-radius: 0.25em;
  display: block;
  margin: 1em auto;
  max-width: var(--img-width) !important;
  transition: max-width 0.25s 0.1s, opacity 0.25s 0.1s, filter 0.1s, transform 0s;
}

.night_mode img {
  filter: var(--img-filter);
  opacity: var(--img-brightness);
}

img:hover {
  cursor: zoom-in;
  filter: none;
  max-width: 100% !important;
  opacity: 1;
}

img+br {
  display: none;
}

html:not(.mobile) img:active {
  border: 1px solid var(--link-fg-active);
  cursor: zoom-out;
  filter: none;
  left: 0;
  max-width: 95% !important;
  opacity: 1;
  position: fixed;
  top: 0;
  transform: translate(calc(50vw - 50%), calc(50vh - 50%));
  z-index: 100;
}

/* -------------------------------------------------- TABLES */
table {
  border-collapse: separate;
  border-spacing: 0;
  margin: 0 auto;
  max-width: 100%;
}

table thead {
  background-color: var(--card-border);
}

table tr:nth-of-type(even) {
  background-color: var(--card-border);
}

table tr:first-child th:first-child {
  border-top-left-radius: 0.25em;
}

table tr:first-child th:last-child {
  border-top-right-radius: 0.25em;
}

table tr:last-child td:first-child {
  border-bottom-left-radius: 0.25em;
}

table tr:last-child td:last-child {
  border-bottom-right-radius: 0.25em;
}

table th {
  border-bottom: solid 1px var(--text-bg-selected);
  border-left: solid 1px var(--text-bg-selected);
  border-top: solid 1px var(--text-bg-selected);
  padding: 0.5em;
}

table th:last-child {
  border-right: solid 1px var(--text-bg-selected);
}

table td {
  border-bottom: solid 1px var(--text-bg-selected);
  border-left: solid 1px var(--text-bg-selected);
  padding: 0.5em;
}

table td:last-of-type {
  border-right: solid 1px var(--text-bg-selected);
}

/* -------------------------------------------------- HYPERLINKS */
a,
a:visited {
  text-decoration: none;
  color: var(--link-fg);
}

a:hover,
a:active {
  text-decoration: underline;
  color: var(--link-fg-active);
}

/* -------------------------------------------------- FORMATTING */
b {
  color: var(--bold-fg);
}

i {
  color: var(--italic-fg);
}

b>i,
i>b {
  color: var(--bold-italic-fg);
}

u {
  color: var(--underline-fg);
}

pre {
  white-space: normal;
}

/* -------------------------------------------------- CUSTOM FONTS */

/* -------------------------------------------------- END OF THEME */