/* -------------------------------------------------- PREFERENCES */
:root {
  --card-max-width: 40em;
  --card-text-align: left;
  --font-size-regular: 16px;
  --font-size-small: 14px;
  --font-family: -apple-system, sytem-ui, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica, Arial, sans-serif;
  --img-width: 50%;
  --img-brightness: 0.75;
  --img-filter: none;
}

/* -------------------------------------------------- COLORS */

.card {
  --color-red: #af3029;
  --color-orange: #bc5215;
  --color-yellow: #ad8301;
  --color-green: #66800b;
  --color-cyan: #24837b;
  --color-blue: #205ea6;
  --color-purple: #5e409d;
  --color-pink: #a02f6f;

  --base-h: 48;
  --base-s: 100%;
  --base-l: 97%;

  --accent-h: 175;
  --accent-s: 57%;
  --accent-l: 33%;

  --bg1: #fffcf0;
  --bg2: #f2f0e5;
  --bg3: rgba(16, 15, 15, 0.05);

  --ui1: #e6e4d9;
  --ui2: #dad8ce;
  --ui3: #cecdc3;

  --tx1: #100f0f;
  --tx2: #6f6e69;
  --tx3: #b7b5ac;

  background-color: var(--bg1);
  --text-fg: var(--tx1);
  --text-fg-faint: var(--ui3);
  --text-bg-selected: var(--ui2);
  --card-bg: var(--bg1);
  --card-border: var(--ui2);
  --card-box-shadow: transparent;
  --divider: var(--ui1);
  --tag-fg: var(--bg1);
  --tag-bg: transparent;
  --tag-fg-active: var(--color-blue);
  --tag-bg-active: var(--color-purple);
  --tag-border: var(--ui1);
  --tag-border-active: var(--tag-fg-active);
  --cloze-fg: var(--color-green);
  --cloze-bg: transparent;
  --link-fg: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
  --link-bg: transparent;
  --link-fg-active: hsl(
    var(--accent-h),
    var(--accent-s),
    calc(var(--accent-l) + 8%)
  );
  --link-bg-active: transparent;
  --bold-fg: var(--tx1);
  --italic-fg: var(--tx1);
  --bold-italic-fg: var(--tx1);
  --underline-fg: var(--tx1);
}

.card.night_mode {
  --color-red: #d14d41;
  --color-orange: #da702c;
  --color-yellow: #d0a215;
  --color-green: #879a39;
  --color-cyan: #3aa99f;
  --color-blue: #4385be;
  --color-purple: #8b7ec8;
  --color-pink: #ce5d97;

  --base-h: 360;
  --base-s: 3%;
  --base-l: 6%;

  --accent-h: 175;
  --accent-s: 49%;
  --accent-l: 45%;

  --bg1: #100f0f;
  --bg2: #1c1b1a;
  --bg3: rgba(254, 252, 240, 0.05);

  --ui1: #282726;
  --ui2: #343331;
  --ui3: #403e3c;

  --tx1: #cecdc3;
  --tx2: #878580;
  --tx3: #575653;

  background-color: var(--bg1);
  --text-fg: var(--tx1);
  --text-fg-faint: var(--ui3);
  --text-bg-selected: var(--ui2);
  --card-bg: var(--bg1);
  --card-border: var(--ui2);
  --card-box-shadow: transparent;
  --divider: var(--ui1);
  --tag-fg: var(--bg1);
  --tag-bg: transparent;
  --tag-fg-active: var(--color-blue);
  --tag-bg-active: var(--color-purple);
  --tag-border: var(--ui1);
  --tag-border-active: var(--tag-fg-active);
  --cloze-fg: var(--color-green);
  --cloze-bg: transparent;
  --link-fg: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
  --link-bg: transparent;
  --link-fg-active: hsl(
    var(--accent-h),
    var(--accent-s),
    calc(var(--accent-l) + 8%)
  );
  --link-bg-active: transparent;
  --bold-fg: var(--tx1);
  --italic-fg: var(--tx1);
  --bold-italic-fg: var(--tx1);
  --underline-fg: var(--tx1);
}

/* -------------------------------------------------- BACKGROUND */
.card {
  cursor: default;
  padding: 0.5em 0;
}

html:not(.mobile) .card {
  padding: 0.5em;
}

.card::-webkit-scrollbar {
  display: none;
}

/* -------------------------------------------------- FLASHCARD */
.prettify-flashcard {
  background-color: var(--card-bg);
  border-radius: 0.25em;
  border: 1px solid var(--card-border);
  color: var(--text-fg);
  font-family: var(--font-family);
  font-size: var(--font-size-regular);
  line-height: 1.5;
  margin: 0 auto;
  max-width: var(--card-max-width);
  text-align: var(--card-text-align);
  word-wrap: break-word;
}

.prettify-flashcard ::selection {
  background-color: var(--text-bg-selected);
}

/* -------------------------------------------------- FIELDS */
.prettify-field {
  margin: 2em;
}

.mobile .prettify-field {
  margin: 1em;
}

.prettify-field--back {
  color: var(--text-fg-faint);
  font-size: var(--font-size-small);
}

/* -------------------------------------------------- CLOZE */
.cloze {
  background-color: var(--cloze-bg);
  color: var(--cloze-fg);
}

/* -------------------------------------------------- DECK */
.prettify-deck {
  margin: 2em;
  display: flex;
  color: var(--text-fg-faint);
  font-size: var(--font-size-small);
  white-space: nowrap;
}

.mobile .prettify-deck {
  margin: 1em;
}

.prettify-subdeck {
  text-decoration: underline;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* -------------------------------------------------- TAGS */
.prettify-tags {
  margin: 2em;
  display: flex;
  flex-flow: row wrap;
  font-size: var(--font-size-small);
}

.mobile .prettify-tags {
  margin: 1em;
}

.prettify-tag {
  all: initial;
  background-color: var(--tag-bg);
  border-radius: 0.2em;
  color: var(--tag-fg);
  display: inline;
  font-size: var(--font-size-small);
  font-family: var(--font-family);
  margin: 0 0.5em 0.5em 0;
  padding: 0.25em;
  transition: all 0.25s;
  word-break: break-word;
}

.prettify-tag:hover {
  background-color: var(--tag-bg-active);
  color: var(--tag-fg-active);
  cursor: pointer;
}

/* -------------------------------------------------- DIVIDER */
.prettify-divider {
  background-color: transparent;
  border: none;
  border-bottom: 1px dashed var(--divider);
  margin: 1em;
  padding: 0;
}

.prettify-divider--answer {
  margin: 0 0 1em;
}

/* -------------------------------------------------- IMAGES */
img {
  border-radius: 0.25em;
  display: block;
  margin: 1em auto;
  max-width: var(--img-width) !important;
  transition: max-width 0.25s 0.1s, opacity 0.25s 0.1s, filter 0.1s,
    transform 0s;
}

.night_mode img {
  filter: var(--img-filter);
  opacity: var(--img-brightness);
}

img:hover {
  cursor: zoom-in;
  filter: none;
  max-width: 100% !important;
  opacity: 1;
}

img + br {
  display: none;
}

html:not(.mobile) img:active {
  border: 1px solid var(--link-fg-active);
  cursor: zoom-out;
  filter: none;
  left: 0;
  max-width: 95% !important;
  opacity: 1;
  position: fixed;
  top: 0;
  transform: translate(calc(50vw - 50%), calc(50vh - 50%));
  z-index: 100;
}

/* -------------------------------------------------- TABLES */
table {
  border-collapse: separate;
  border-spacing: 0;
  margin: 0 auto;
  max-width: 100%;
}

table thead {
  background-color: var(--card-border);
}

table tr:nth-of-type(even) {
  background-color: var(--card-border);
}

table tr:first-child th:first-child {
  border-top-left-radius: 0.25em;
}

table tr:first-child th:last-child {
  border-top-right-radius: 0.25em;
}

table tr:last-child td:first-child {
  border-bottom-left-radius: 0.25em;
}

table tr:last-child td:last-child {
  border-bottom-right-radius: 0.25em;
}

table th {
  border-bottom: solid 1px var(--text-bg-selected);
  border-left: solid 1px var(--text-bg-selected);
  border-top: solid 1px var(--text-bg-selected);
  padding: 0.5em;
}

table th:last-child {
  border-right: solid 1px var(--text-bg-selected);
}

table td {
  border-bottom: solid 1px var(--text-bg-selected);
  border-left: solid 1px var(--text-bg-selected);
  padding: 0.5em;
}

table td:last-of-type {
  border-right: solid 1px var(--text-bg-selected);
}

/* -------------------------------------------------- HYPERLINKS */
a,
a:visited {
  text-decoration: none;
  color: var(--link-fg);
}

a:hover,
a:active {
  text-decoration: underline;
  color: var(--link-fg-active);
}

/* -------------------------------------------------- FORMATTING */
b {
  color: var(--bold-fg);
}

i {
  color: var(--italic-fg);
}

b > i,
i > b {
  color: var(--bold-italic-fg);
}

u {
  color: var(--underline-fg);
}

pre {
  white-space: normal;
}

/* -------------------------------------------------- CUSTOM FONTS */

/* -------------------------------------------------- END OF THEME */
